extends layout

block content
  header
    h1.logo= title

    aside.social
      ul
        li
          a.fb(href='#')
        li
          a.gp(href='#')
        li
          a.em(href='#')

  article.main
    h1 Hi, I'm Marcos Gonzales.  I make websites in Phoenix, Arizona.

    h2 About Me
    p I work at the Arizona Department of Transportation as Senior UI/UX Developer and Designer.  HTML, CSS and Javascript are my favorite things (and how I make a living).  When I'm not working I cook and I paint and spend time with the family.  I grew up in Glendale, AZ and graduated from Moon Valley H.S. (Go Rockets!).  After a few years snowboarding in Utah, I studied Computer Programming and Fine Arts at Arizona State University.

      ul
        li
          a(href='http://www.facebook.com/marcos.gonzales.1234') http://www.facebook.com/marcos.gonzales.1234
        li
          a(href='www.linkedin.com/pub/marcos-gonzales/61/253/73b/') www.linkedin.com/pub/marcos-gonzales/61/253/73b/


    h2 About This Site
    p This site is brand new and demonstrates a simple content driven resonsive layout.  I've designed the site in an attempt to move away from "page" based design and focus on the shapes, not just the sizes of displays.  I don't have a lot of content yet, but I'll work on that.  It is running on a custom production node server (read rackspace virtual).  When I get the time I'll be hooking up mongodb to it and trying to think of fun stuff to do.  I hope you might find something you like here.  Thanks for visiting.

    .featureblock
      h2 Stuff I made ...
      small
      ul.stuffimade
        li
          a(href='https://github.com/mgonzo/jqtooltips') JqTooltips
        li
          a(href='https://github.com/mgonzo/jqcallouts') JqCallouts
        li
          a(href='https://github.com/mgonzo/jqshell') JqShell
          
    .featureblock
      h2 Stuff I like to read ...
      ul.stuffiread
        li
        li
        li

    section.note 
      h4 A little about the old site
      p I've completely removed the server that was running the old site, but saved all the template files and copied the db.  So if there is anything that you would like to see, please let me know.

  aside.sidebar
    ul.brands
      li
        a#html5
      li
        a#css3
      li
        a#js
      li
        a#ubuntu
      li
        a#github
      li
        a#node
      li
        a#jquery
      li
        a#json
      li
        a#mozilla

