extends layout

block content
  header
    h1.logo= title

    aside.social
      ul
        li
          a.fb(href='#')
        li
          a.gp(href='#')
        li
          a.em(href='#')

  article.main
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
    p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.

    .featureblock
      ul.stuffimade
        li
          a(href='https://github.com/mgonzo/jqtooltips') jqtooltips
        li
          a(href='https://github.com/mgonzo/jqtooltips') jqcallouts
        li
          a(href='https://github.com/mgonzo/jqtooltips') jqshell
          
    .featureblock
      ul.stuffiread
        li
        li
        li

  aside.sidebar
    ul.brands
      li
        a#html5
      li
        a#css3
      li
        a#js
      li
        a#ubuntu
      li
        a#github
      li
        a#node
      li
        a#jquery
      li
        a#json
      li
        a#mozilla

