html,
body,
div,
section,
article,
ul,
li {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: #8c008a;
}
a:hover {
  color: #ff00fc;
}
a:visited {
  color: #640063;
}
h1,
h2,
h3,
h4 {
  margin: 2%;
  margin-bottom: 0;
  margin-top: 3%;
}
body {
  font-family: 'Ubuntu', "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  width: 100%;
  z-index: 9999;
}
.logo {
  background: #000;
  color: #fff;
  font-weight: 400;
  height: 2em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 2em;
}
.main {
  margin: 2%;
  display: table;
  clear: both;
}
.social {
  height: 70px;
}
.social > ul {
  width: 210px;
  margin: 0 auto;
}
.social > ul > li {
  display: inline-block;
  margin: 2%;
}
.fb,
.gp,
.em {
  background-image: url(/images/social-small.png);
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 50px;
}
.fb {
  background-position: 0 0;
}
.gp {
  background-position: -59px 0;
}
.em {
  background-position: -118px 0;
}
.main > p {
  margin: 2%;
  margin-top: 1%;
  text-indent: 1.5em;
}
.main h1 {
  font-size: 1em;
}
.main > ul {
  margin: 2%;
}
.featureblock {
  min-height: 100px;
  background: #e6e6e6;
  margin: 2%;
}
.featureblock h2 {
  margin-top: 1%;
}
.featureblock ul {
  margin: 4%;
}
.featureblock a {
  line-height: 1.5em;
  color: #222;
  text-decoration: none;
}
.featureblock a:hover {
  color: #eee;
  background: #000;
}
.sidebar {
  margin-top: 50px;
  margin-bottom: 50px;
}
.brands {
  width: 60px;
  margin: 0 auto;
}
.brands > li > a {
  display: block;
  background-repeat: no-repeat;
}
#html5 {
  background-image: url(/images/html5-small.png);
  background-position: 0 0;
  height: 76px;
  width: 67px;
}
.note {
  margin: 2%;
  font-size: .8em;
}
.note h4,
p {
  margin: 0;
}
@media screen and (min-width: 601px) {
  .logo {
    width: 250px;
  }
  .social {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .social > ul {
    width: 630px;
  }
  .social > ul > li {
    margin: 5px;
  }
  .featureblock {
    width: 46%;
    box-shadow: 15px 15px 0 0px rgba(0, 0, 0, 0.5);
    float: left;
  }
  .sidebar {
    float: left;
  }
  .note {
    float: left;
  }
  .brands {
    width: 100%;
  }
  .brands > li {
    display: inline-block;
  }
  .brands > li > a {
    background-image: url(/images/sidebar-small.png);
    margin: 20px;
  }
  #html5 {
    background-position: 0 0;
    height: 76px;
    width: 67px;
    margin: 20px 0 20px 20px;
  }
  #css3 {
    background-position: 0 -75px;
    height: 77px;
    width: 67px;
    margin: 20px 0;
  }
  #js {
    background-position: 0 -151px;
    height: 77px;
    width: 67px;
    margin: 20px 20px 20px 0;
  }
  #ubuntu {
    background-position: 0 -232px;
    height: 35px;
    width: 150px;
  }
  #github {
    background-position: 0 -268px;
    height: 85px;
    width: 100px;
  }
  #node {
    background-position: 0 -362px;
    height: 37px;
    width: 136px;
  }
  #jquery {
    background-position: 0 -408px;
    height: 38px;
    width: 151px;
  }
  #json {
    background-position: 0 -445px;
    height: 77px;
    width: 77px;
  }
  #mozilla {
    background-position: 0 -520px;
    height: 76px;
    width: 98px;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    width: 70%;
  }
  .sidebar {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  #html5 {
    margin: 0;
  }
  #css3 {
    margin: 0;
  }
  #js {
    margin: 0;
  }
}
@media screen and (min-width: 1441px) {
  .main {
    margin-left: 10%;
    width: 60%;
  }
  .sidebar {
    margin-right: 10%;
    width: 15%;
  }
}
